.mx-kendo-grid {
    // border-bottom: none !important;
    transition: all 1s ease-in-out;
    .k-grid-content.k-auto-scrollable,
    .k-grid {
        height: auto !important;
    }
    td {
        height: 33px !important;
    }
}

.highlight>td {
    background-color: #f7cdcd;
}

.mx-blurry {
    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px) !important;
    background-size: cover !important;
    opacity: 0.5 !important;
}
